body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .para,
  .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
  }
  
  .para { 
    font-size: 22px;
  }

  .small-para {
    font-size: 14px;
    font-weight: 800;
  }
  
  /*
    1 - We have moved the .small-para from its original position.
    2 - Then we placed after .para selector, taking advantage of the rule order
    since both selectors have the same specificity, meaning they have have the same 
    amount of classes. 
    3 - The rule before was:
        - The grouping selector was giving color and font-weight to any element with 
        .para or .small-para as a class (no issue there)
        - After the above the .small-para selector was giving font-size 14 px and font-weight
        - After the above the .para selector was giving the font-size 22px
        - With the order above the because the HTML line 12 have both .para and .small-para as classes
        there was a conflict with the font-size and since the cascade have run through every other factor
        (including inheritance and specificity) the RULE ORDER was applied, meaning that the last rule .para 
        was the one taken into account.
    .para { 
    font-size: 22px;
  }*/
  
 /* To fix this I have again altered used the rule order to solve the issue
 of not showing green in the confirm button. 

   .confirm {
     background: green;
     color: white;
     font-weight: bold;
  } 
  
  Other solutions would be:

  1 - Remove completely the .confirm rule then use the ID selector instead, since it had 
  a higher specificity then the .button selector.
  
  #confirm-button {
    background: green;
    color: white;
    font-weight: bold;
}
  2 - Use a chaining selector .button.confirm without moving its position:

  .button.confirm {
    background: green;
    color: white;
    font-weight: bold;
  }

 */
  
  .button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .confirm {
    background: green;
    color: white;
    font-weight: bold;
  } 

  /* First we removed the following rule from its original position 
  and added another selector to it to form a descendant combinator

    .child { 
      color: rgb(0, 0, 0);
      font-weight: 800;
      font-size: 14px;
  }

  Another solution would be to keep the rule where it is and just replace the 
  .div selector with the .text selector

     .text .child {
       color: rgb(0, 0, 0);
       font-weight: 800;
       font-size: 14px;
  }

   */
  div.text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
  }

  div .child { 
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
}