body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .para,
  .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
  }
  /* I have chained the classes .para and .small-para
  because in the html file the class "para small-para" exists 
  and for that we need use the chaining selectors drill since this class 
  is a combination of the 2 selectors .para and .small-para */
  .para.small-para {
    font-size: 14px;
    /* removed the bold font-weight as it is already
    applied above */
  }
  
  .para {
    font-size: 22px;
  }
  
  .confirm.button {
    background: green;
    color: white;
    font-weight: bold;
  } 
  /* To fix the confirm button to show green on HTML
  I have used the chaining selectors so that only the class
  with .button and .confirm selectors on it.
  If we try to use the group selectors for this all the 
  classes that have .confirm and .button on it will be affeted 
  and this is not what we want in this exercise. */
  .button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }
  
  div.text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
  }